{% extends 'base.html.twig' %}
{% block title %} Page d'accueil !{% endblock %}


{% block body %}
<div class="container py-2">

    <div class="jumbotron">
        <h1>Bienvenue sur mon supper Agence de location !</h1>
        <p class="lead">
            Nous sommes une agence de location d'appartements en ligne sur l'ensemble de la ville de BamaKo et ses
            environs. Vous pouvez mettre vos annonces sur notre site ou réserver en ligne depuis chez vous en toutes
            sécurité.
            Notre but est de satisfaire le maaximum possible de personnes à la recherche d'un logement de courte durée ou
            longue.
        </p>
        <hr class="my-4">
        <p>Vous êtes voyeurs ou tout simplement à la recheche d'uppartement pour vous loger ?</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
        </p>

    </div>
    <h2>Nos appartements stars</h2>
    <div class="row">
            <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
      
    <h2>Nos propriétaires stars !</h2>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-seconday mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ismaila SACKO</h4>
                    <hr>
                    <div class="card-text">
                       <img src="images/is.JPG" alt="avatar de SACKO" class="float-left mr-3" style="height: 60px; width: 60; display: block;"> 
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus totam nobis sit quidem recusandae nisi similique. Repellendus aliquid pariatur perferendis sint nam dignissimos! Obcaecati similique cupiditate consequuntur corrupti laborum?</p>
                       <a href="" class="btn btn-success float-right">en savoir plus</a>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card border-seconday mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ismaila SACKO</h4>
                    <hr>
                    <div class="card-text">
                       <img src="images/is.JPG" alt="avatar de SACKO" class="float-left mr-3" style="height: 60px; width: 60; display: block;"> 
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus totam nobis sit quidem recusandae nisi similique. Repellendus aliquid pariatur perferendis sint nam dignissimos! Obcaecati similique cupiditate consequuntur corrupti laborum?</p>
                       <a href="" class="btn btn-success float-right">en savoir plus</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
